<article>
  <VideoGame::Image
    src="{{@game.flyerImage}}"
    alt="{{@game.flyerDesc}}"
  />
  <div class="game">
    <h3>{{@game.title}}</h3>
    <div class="detail publisher">
      Publisher: {{@game.publisher}}
    </div>
    <div class="detail release">
      Release: {{@game.releaseDate}}
    </div>
    <div class="detail platform">
      Platform: {{@game.platform}}
    </div>
    <div class="detail multiplayer">
      Multiplayer: {{if @game.multiplayer "Yes" "No"}}
    </div>
    <div class="detail genre">
      Genre: {{@game.genre}}
    </div>
  </div>
</article>
